#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}



.good{
  text-align: center;
  
}
.good1{
  color: purple;
}
.good2{
  background-color: yellow;
  margin-right: 40px;
  
}
.good3{
  background-color: lightgreen;
}

.good6{
  background-color: rgb(201, 181, 201);
  margin-right: 40px;
}

.good7{
  background-color: rgb(243, 151, 243);
}
.good8{
  background-color: greenyellow;
  text-align: center;
  margin-top: 50px;
  border-style: groove;
  margin-left: 15%;
  margin-right: 15%;
  
}
.nice{
  margin-top: 30px;
}

